<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Post - Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Criar Novo Post</h1>
    </header>
    <main>
        <form action="/post/new" method="POST">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required>
            <label for="content">Conteúdo:</label>
            <textarea id="content" name="content" required></textarea>
            <input type="submit" value="Criar Post">
        </form>
    </main>
</body>
</html>
